.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand(href="#")
        = @quiz.name

.container
  .question
    %h3 
      Es posible que seas víctima de maltrato doméstico.
      %br
      Por favor comunicate al 
      %a(href="#") 114
      o al 
      %a(href="#") 2237-6830
      para obtener ayuda profesional.