- quiz_url = @quiz.id == nil ? quizzes_path : quiz_path(@quiz)

.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand(href="#") Crear Evaluación

.container
  - if flash[:notice]
    .alert.alert-success
      = flash[:notice]  
  = form_for(@quiz, :url => quiz_url) do |f|
    .question
      %h3 Evaluación
      %label.name
        %input.input-xxlarge{value: @quiz.name}(type="text" placeholder="Título de la evaluación" name="quiz[name]")



    .question
      %h3 Preguntas
      %label.questions
        = f.fields_for :questions do |builder|    
          = render "question_fields", :f => builder

    .actions
      %button.btn.btn-large.btn-block(type="submit") Enviar

