.row
  = form_for(@quiz, :url => quizzes_path, :html => {:class=>["span5", "offset5"]}) do |f|
    %fieldset
      %legend Crear una nueva evaluación
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      %label.name
        %input(type="text" placeholder="Título de la evaluación" name="quiz[name]")

      %legend Preguntas
      %label.questions
        = f.fields_for :questions do |builder|    
          = render "question_fields", :f => builder
      
      %button.btn(type="submit") Enviar