.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand(href="#")
        = @quiz.name

.container
  = form_tag(end_quiz_path(@quiz), method: "post") do |f|
    - @quiz.questions.each do |question|
      .question
        %h3= question.description
        .answer
          %p.yes Sí
        .answer
          %p.no No
        %input{type: "hidden", name:"answers[#{question.id}]", value:"N"}

    .actions
      %button.btn.btn-large.btn-block Enviar

