
<!DOCTYPE html>
%html
  %head
    %meta(charset="UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="Descripcion del documento")
    %meta(name="keywords" content="key, word")
    %meta(name="web_author" content="Yamil Gonzales")

    %title Evaluación Violencia Doméstica

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css')

%body

= yield
